name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - uses: actions/checkout@v4

      - name: install deps
        run: |
          pacman -Sy --noconfirm \
            gcc \
            make

      - name: build
        run: |
          ./mkheat.sh 64 131072
          make -j4

